<div class="container">
  <header>
    <h1>Find a Doctor</h1>
    <p>
      Welcome to our doctor directory! You can browse all available doctors or search for a specific
      doctor by last name.
    </p>
  </header>
  <div class="button-container">
    <button class="button" id="getAllDoctors">Get All Doctors</button>
    <button class="button" id="findByLastName">Find by Last Name</button>
  </div>
  <div id="searchContainer" class="hidden">
    <input type="text" id="lastNameInput" placeholder="Enter last name" />
    <button class="button" id="searchButton">Search</button>
  </div>
</div>
<script src="/public/js/script"></script>
<!-- Link to your JavaScript file -->
